*{
    margin: 0;
    box-sizing: border-box;
}

.caja{
    width: 180px;
    height: 180px;
    background-color: aquamarine;
    opacity: 1;
    margin-left: 150px;
    margin-top: 150px;
    transition-duration: 2s ;
    transition-delay: 2s;
}
.fijo{
    position: relative;
    z-index: 1;
    top: -90px;
    left: 150px;
}
.caja:hover{
/*    
    transform: scale(2);
    */
    transform: rotate(90deg)  ;
    transform-origin: left;
}






